.asvg-overskrift,
.om-asvg,
.hvem-tittel,
.hvem-tekst,
.hvem-knapp {
  font-family: Alumni Sans;
}

.asvg {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  border-color: blue;
}

.asvg:active {
  opacity: 0.75;
}

.bakgrunnsfarge {
  background-color: black;
  height: 78.3%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  position: absolute;
} 

/* ASVG */

.asvg-overskrift {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
  font-size: 2rem;
}

.om-asvg {
  color: white;
  line-height: 130%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.2rem;
}

.hvem-boks {
  background: white;
  text-align: center;
  margin: 0% 39%;
  margin-top: 5%;
}

.hvem-tittel {
  font-size: 2rem;
}

.hvem-tekst {
  margin: 0% 1%;
  font-size: 1.2rem;
}

.hvem-knapp {
  background-color: rgb(101, 208, 193);
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  margin-bottom: 3%;
  padding: 0 10%;
}

.fet {
  font-weight: bold;
}

@media only screen and (max-width: 767px) {

  .asvg-overskrift {
    margin-left: 25%;
    width: 200px;
    margin-bottom: 2%;
  }

  .om-asvg {
    width: 50%;
    margin-left: 25%;
  }

  .om-as {
    width: 50%;
    margin-left: 5%;
  }

  .mer-om-asvg-overskrift {
    margin-left: 20%;
  }

  .bakgrunnsfarge {
    background-color: black;
    height: 120%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
    background-position: center;
    background-size: cover;
    position: absolute;
  }

  .hvem-boks {
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
  }

}