/* CSS'EN TIL ENDRING AV FONTEN OG TEKSTSTØRRELSEN */

.asvg-overskrift,
.om-asvg,
.hvem-tittel,
.hvem-tekst,
.hvem-knapp {
  font-family: Alumni Sans;
}

.hvem-tittel {
  font-size: 2rem;
}

.hvem-tekst {
  margin: 0% 1%;
  font-size: 1.2rem;
}

/* CSS'EN TIL BAKGRUNNSBILDET */

.bakgrunnsfarge {
  height: 82.6%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../bilder/asvg-bakgrunn.png);
  background-position: center;
  background-size: cover;
  position: absolute;
} 

/* CSS'EN TIL OVERSKRIFTEN */

.asvg-overskrift {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
  font-size: 2rem;
}

/* CSS'EN TIL TEKSTEN */

.om-asvg {
  color: white;
  line-height: 130%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.2rem;
}

/* CSS'EN TIL FLEX BOKSEN */

.hvem-boks {
  background: white;
  text-align: center;
  margin: 0% 39%;
  margin-top: 5%;
}

/* CSS'EN TIL KNAPPEN */

.hvem-knapp {
  background-color: rgb(101, 208, 193);
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  margin-bottom: 3%;
  padding: 0 10%;
}

/* PHONE SUPPORT */

@media only screen and (max-width: 767px) {

  /* CSS'EN TIL OVERSKRIFTEN */

  .asvg-overskrift {
    margin-left: 25%;
    width: 200px;
    margin-bottom: 2%;
  }

  /* CSS'EN TIL TEKSTEN */

  .om-asvg {
    width: 50%;
    margin-left: 25%;
  }

  /* CSS'EN TIL BALGRUNNSBILDET */

  .bakgrunnsfarge {
    background-color: black;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../bilder/asvg-bakgrunn.png);
    background-position: center;
    background-size: cover;
    position: absolute;
  }

  /* CSS'EN TIL FLEX BOKSEN */

  .hvem-boks {
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
  }

}