.asvg {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  border-color: blue;
}

button:hover {
  background-color: green;
  border-color: transparent;
}

.asvg:active {
  opacity: 0.75;
}

.bakgrunnsfarge {
  background-color: black;
  height: 78.3%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  position: absolute;
}

.container {
  background-color: black;
}

/* ASVG */

.overskrifter {
  display: flex;
  margin-top: 30px;
}

.asvg-overskrift {
  color: white;
  font-weight: bold;
  width: 350px;
  margin-left: 15%;
}

.om-asvg {
  color: white;
  margin-left: 12.5%;
  width: 25%;
  line-height: 130%;
}

/* AS */

.tekster {
  display: flex;
}

.as-overskrift {
  color: white;
  font-weight: bold;
  margin-left: 35%;
}

.om-as {
  color: white;
  margin-left: 25.5%;
  width: 25%;
  line-height: 130%;
}

/* LINJENE */

.mer-om-asvg-overskrift {
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
  font-weight: bold;
}

.mer-om-asvg {
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  line-height: 115%;
}

.fet {
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .overskrifter {
    margin-top: 5px;
  }

  .asvg-overskrift {
    margin-left: 5%;
  }
}