.hjem {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  border-color: blue;
}

.background-image {
  height: 78.3%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../bilder/index-background-image.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.hjem:hover,
.asvg:hover,
.im:hover,
.prosjekter:hover {
  background-color: black;
  border-color: transparent;
}

button a {
  transition: color 0.5s ease;
}

.hjem:active {
  opacity: 0.75;
}

.mainpage {
  display: flex;
}

.box {
  overflow: hidden;
  background-color: transparent;
  width: 650px;
  height: 500px;
  margin-left: 375px;
}

.velkommen {
  margin-top: 15px;
  text-align: center;
  display: block;
  height: 20px;
  font-weight: bold;
  color: white;
}

.velkommen-tekst {
  margin-top: 35px;
  text-align: center;
  display: block;
  height: 20px;
  font-weight: bold;
  color: white;
  line-height: 15px;
}

@media only screen and (max-width: 767px) {
  .velkommen {
    margin-left: 0%;
  }

  .velkommen-tekst {
    margin-left: 0%;
  }
}