.im {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  border-color: blue;
}

button a {
  transition: color 0.5s ease;
}

.im:active {
  opacity: 0.75;
}

.background-image {
  height: 78.3%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../bilder/bakgrunn-im.jfif);
  background-position: center;
  background-size: cover;
  position: absolute;
}

/* BOKSER */

.lime-box {
  height: 100%;
  width: 100%;
  background-color: darkslategray;
  background-position: center;
  background-size: cover;
  top: 100%;
  position: absolute;
}

.im-boks {
  display: flex;
}

.i-boks-tekst-overskrift,
.m-boks-tekst-overskrift {
  color: black;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  display: block;
}

.i-boks {
  margin-left: 125px;
  margin-top: 100px;
  background-color: white;
  width: 600px;
}

.m-boks {
  margin-left: 150px;
  margin-top: 100px;
  background-color: white;
  width: 600px;
}

.i-boks-tekst-tekst,
.m-boks-tekst-tekst {
  line-height: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

/* MINE PROSJEKTER */

.prosjekter {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.tekst-container {
  display: flex;
}

.prosjekter-tekst {
  color: black;
  background: white;
  width: 30%;
  height: 20%;
  border-radius: 4px;
}

.prosjekter-bilde {
  width: 20%;
  height: 20%;
  margin-right: 30%;
  margin-left: 10%;
}

/* Programfag */

.programfag-container {
  display: flex;
}

.konseptutvikling-overskrift,
.mediefag-overskrift,
.teknologiforståelse-overskrift {
  color: white;
  margin-top: 5%;
  text-align: center;
}

.teknologiforståelse-overskrift {
  margin-top: 6%;
  margin-left: 10%;
}

.konseptutvikling-tekst-container,
.mediefag-tekst-container,
.teknologiforståelse-tekst-container {
  background: lightgreen;
  width: 40%;
  border-radius: 4px;
}

.konseptutvikling-tekst-container {
  margin-left: 25%;
}

.mediefag-tekst-container {
  margin-left: 25%;
}

.teknologiforståelse-tekst-container {
  float: right;
  margin-right: 25%;
}

.mellomrom {
  display: block;
  margin-top: 5%;
}

a u {
  color: blue;
}

/* PHONE SUPPORT */

@media only screen and (max-width: 767px) {
  /* IMAGE + BOKSER */

  * {
    margin: 0;
    padding: 0;
  }
  
  .background-image {
    height: 98%;
  }

  .black-box {
    top: 140%;
  }

  .lime-box {
    top: 200%;
    height: 123%;
  }

  /* I OG M BOKSER */

  .i-boks {
    margin-left: 5px;
    width: 200px;
  }

  .i-boks-tekst-tekst {
    line-height: 140%;
  }

  .m-boks-tekst-tekst {
    line-height: 140%;
  }

  .m-boks {
    margin-left: 20px;
    width: 200px;
  }

  /* PROSJEKTER */

  .prosjekter-bilde {
    display: none;
  }

  .prosjekter-tekst {
    margin-left: 25%;
    line-height: 140%;
    width: 50%;
  }

  /* PROGRAMFAG TEKSTER */

  .konseptutvikling-tekst-container,
  .mediefag-tekst-container,
  .teknologiforståelse-tekst-container {
    width: 60%;
    text-align: center;
  }

  .konseptutvikling-overskrift,
  .mediefag-overskrift,
  .teknologiforståelse-overskrift {
    text-align: center;
  }

  .mediefag-overskrift {
    margin-left: -10%;
  }

  .teknologiforståelse-overskrift {
    margin-left: -17%;
  }

  .teknologiforståelse-tekst-container {
    float: none;
  }

  .programfag-container {
    display: block;
  }

  .teknologiforståelse-tekst-container {
    margin-left: 11%;
  }
  .mediefag-tekst-container {
    margin-left: 15%;
  }
  .konseptutvikling-tekst-container {
    margin-left: 17%;
  }
}

/* DESKTOP SUPPORT */

@media only screen and (max-width: 2560px) {
  .background-image {
    height: 88%;
  }

  .konseptutvikling-overskrift,
  .mediefag-overskrift,
  .teknologiforståelse-overskrift {
    text-align: center;
  }

  .mediefag-tekst-container {
    align-items: center;
  }

  .konseptutvikling-container,
  .mediefag-container,
  .teknologiforståelse-container {
    padding: 0;
    margin: 0;
  }

  .konseptutvikling-container {
    margin-left: 5%;
  }

  .mediefag-container {
    margin-left: 8%;
  }

  .teknologiforståelse-container {
    float: right;
    margin-left: 14%;
    margin-right: none;
  }

}