.i-boks-tekst-overskrift,
.m-boks-tekst-overskrift,
.i-boks-tekst-tekst,
.m-boks-tekst-tekst,
.prosjekter,
.prosjekter-tekst,
.prosjekter-knapp {
  font-family: Alumni Sans;
}

.i-boks-tekst-overskrift,
.m-boks-tekst-overskrift {
  font-weight: bold;
  font-size: 2rem;
}

.prosjekter {
  font-size: 3rem;
}

.i-boks-tekst-tekst,
.m-boks-tekst-tekst,
.prosjekter-tekst {
  font-size: 1.2rem;
}

.prosjekter-tekst,
.prosjekter-knapp {
  font-size: 1.5rem;
}

.im {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  border-color: blue;
}

.background-image {
  height: 78.3%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../bilder/bakgrunn-im.jfif);
  background-position: center;
  background-size: cover;
  position: absolute;
}

/* BOKSER */

.white-box {
  height: 50%;
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
  top: 100%;
  position: absolute;
}

.im-boks {
  display: flex;
}

.i-boks-tekst-overskrift,
.m-boks-tekst-overskrift {
  color: black;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  display: block;
}

.i-boks {
  margin-left: 125px;
  margin-top: 100px;
  background-color: white;
  width: 600px;
}

.m-boks {
  margin-left: 150px;
  margin-top: 100px;
  background-color: white;
  width: 600px;
}

.i-boks-tekst-tekst,
.m-boks-tekst-tekst {
  line-height: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

/* MINE PROSJEKTER */

.prosjekter {
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

.prosjekter-tekst {
  color: black;
  height: 20%;
  border-radius: 4px;
  text-align: center;
  margin: 0% 25%;
}

.prosjekter-bilde {
  width: 20%;
  height: 20%;
  margin-right: 30%;
  margin-left: 10%;
}

.knapp-div {
  display: flex;
  margin-top: 2%;
  justify-content: center;
}

.prosjekter-knapp {
  background: rgb(101, 208, 193);
  border: none;
  height: 20%;
}

.mellomrom {
  display: block;
  margin-top: 5%;
}

/* PHONE SUPPORT */

@media only screen and (max-width: 767px) {
  /* IMAGE + BOKSER */

  .i-boks {
    width: 48%;
    margin-left: 1%;
  }

  .i-boks-tekst-overskrift {
    font-size: 1.75rem;
  }
  
  .m-boks {
    width: 49%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .background-image {
    height: 100%;
  }

  .white-box {
    top: 120%;
    height: 90%;
  }

  .knapp-div {
    margin-top: 80%;
  }
}