.im {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  border-color: blue;
}

button:hover {
  background-color: green;
  border-color: transparent;
}

.im:active {
  opacity: 0.75;
}