* {
    margin: 0;
    padding: 0;
}

.asvg-logo {
    margin-top: 30px;
    width: 250px;
    margin-left: 50px;
    float: left;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: block;
    text-align: center;
}

button a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.asvg,
.hjem,
.im,
.prosjekter {
    background-color: transparent;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 70px;
}

.hjem {
    margin-left: 479px;
}

button {
    transition: background-color 0.5s ease;
}

button:active {
    opacity: 0.75;
    transition: opacity 0.5s ease;
}

.asvg,
.im,
.hjem,
.asvg,
.prosjekter {
    border-color: blue;
}

.logo {
    width: 250px;
    height: 150px;
    margin-top: 5px;
    float: right;
}

.fet {
    font-weight: bold;
}

span a,
button a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 767px) {
    .hjem {
        margin-left: 1px;
    }
    button a {
        padding: 7px 8px;
    }

    .asvg-logo {
        display: block;
        padding-right: 111px;
    }

    .asvg {
        margin-right: 1px;
    }

    .logo {
        float: left;
        margin-left: 80px;
    }
}