/* CSS'EN TIL FJERNING AV ALL AUTOMATISK MARGIN OG PADDING PÅ TEKSTEN */

* {
    margin: 0;
    padding: 0;
}

/* CSS'EN TIL ENDRING AV STØRRELSEN PÅ AMALIE SKRAM SKJOLDET */

.asvg-logo {
    margin-top: 30px;
    width: 250px;
    margin-left: 50px;
    float: left;
}

/* CSS'EN TIL ENDRING AV HØYDE PÅ NAVIGASJONS BAREN */

.navbar {
    height: 123.3px;
}

/* CSS'EN TIL Å FÅ NAVIGASJONS BAREN PÅ EN RETT LINJE*/

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: block;
    text-align: center;
}

/* CSS'EN TIL Å GJØRE HELE KNAPPEN TRYKKBAR */

button a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

/* CSS'EN TIL ENDRING AV STØRRELSEN OG FARGEN PÅ KNAPPENE */

.asvg,
.hjem,
.im {
    background-color: transparent;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 70px;
    border-color: blue;
}

/* CSS'EN TIL MELLOMROMMET MELLOM AMALIE SKRAM SKJOLDET OG HJEM KNAPPEN */

.hjem {
    margin-left: 550px;
}

/* CSS'EN TIL POSISJONEN OG STØRRELSEN PÅ BILDET AV MEG */

.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -5%;
    left: 88.5%;
}

/* CSS'EN TIL ALLE ORD MED "span fet" */

.fet {
    font-weight: bold;
}

/* CSS'EN TIL FJERNING AV AUTOMATISK LINK DEKORASJON OG LEGGE EN SVART SKRIFTFARGE */

span a,
button a {
    text-decoration: none;
    color: black;
}

/* PHONE SUPPORT */

@media only screen and (max-width: 767px) {

    /* CSS'EN TIL SENRERING AV HJEM KNAPPEN */
    .hjem {
        margin-left: -10%;
    }

    /* CSS'EN SLIK AT HELE KNAPPEN ER TRYKKBAR*/

    button a {
        padding: 7px 8px;
    }

    /* CSS'EN TIL AMALIE SKRAM SKJOLDET */

    .asvg-logo {
        display: block;
        padding-right: 111px;
    }

    /* CSS'EN TIL MELLOMROMMET MELLOM IM OG ASVG KNAPPEN */

    .asvg {
        margin-right: 1px;
    }

    /* CSS'EN TIL STØRRELSEN OG POSISJONEN AV BILDET PÅ TELEFON */

    .logo {
        float: left;
        position: absolute;
        width: 75px;
        height: 75px;
        top: 9%;
        left: 75%;
    }

    /* CSS'EN TIL ENDRING AV HØYDEN PÅ NAVIGASJONS BAREN */

    .navbar {
        height: 150px;
    }
}