* {
    margin: 0;
    padding: 0;
}

.asvg-logo {
    margin-top: 30px;
    width: 250px;
    margin-left: 50px;
    float: left;
}

.navbar {
    height: 123.3px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: block;
    text-align: center;
}

button a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.asvg,
.hjem,
.im,
.prosjekter {
    background-color: transparent;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 70px;
}

.hjem {
    margin-left: 550px;
}

.asvg,
.im,
.hjem,
.asvg,
.prosjekter {
    border-color: blue;
}

.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -5%;
    left: 88.5%;
}

.fet {
    font-weight: bold;
}

span a,
button a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 767px) {
    .hjem {
        margin-left: -10%;
    }
    button a {
        padding: 7px 8px;
    }

    .asvg-logo {
        display: block;
        padding-right: 111px;
    }

    .asvg {
        margin-right: 1px;
    }

    .logo {
        float: left;
        position: absolute;
        width: 75px;
        height: 75px;
        top: 9%;
        left: 75%;
    }

    .navbar {
        height: 150px;
    }
}