.konsepttittel,
.konseptutvikling-tittel,
.mediefag-tittel,
.teknologiforståelse-tittel,
.prosjekt1-contents,
.prosjekt2-contents {
  font-family: Alumni Sans;
}

.konseptutvikling-tittel,
.mediefag-tittel,
.teknologiforståelse-tittel {
  font-size: 2rem;
}

.konsepttittel {
  font-size: 3rem;
}

.prosjekt1-contents,
.prosjekt2-contents {
  font-size: 1.5rem;
}

/* COLORED BOX */

.colored-box {
  height: 78.3%;
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
  position: absolute;
}


/* BILDE */

.bilde {
  height: 2%;
}

.tittel-bilde {
  height: 1200%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../bilder/bakgrunn-im.jfif);
  background-position: center;
  background-size: cover;
  position: aboslute;
}

/* TITTEL */

.konsepttittel {
  color: white;
  text-align: center;
  padding-top: 2.5%;
}

/* TITTLER */

.konseptutvikling-tittel,
.mediefag-tittel,
.teknologiforståelse-tittel {
  text-align: center;
  margin-top: 10%;
}

/* PROSJEKTER TIL KONSEPTUTVIKLING */

.rad1,
.rad2 {
  display: flex;
}

.prosjekt1-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: 5px solid black; */
  text-align: left;
  margin-top: 2.5%;
  margin-left: 15%;
  background-color: rgb(146, 159, 212);
}

.prosjekt2-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: 5px solid black; */
  text-align: left;
  margin-top: 2.5%;
  margin-left: 10%;
  background-color: rgb(146, 159, 212);
}

.prosjekt1-container,
.prosjekt2-container {
  width: 30%;
}

.prosjekt1-contents,
.prosjekt2-contents {
  margin-left: 1%;
}

.tittel {
  margin-top: 1%;
}

.beskrivelse {
  margin-bottom: 1%;
}

@media only screen and (max-width: 767px) {
  .konsepttittel {
    padding-top: 7.5%;
  }

  .konseptutvikling-tittel {
    margin-top: 40%;
  }

  .prosjekt1-container {
    margin-left: 5%;
    width: 42.5%;
  }

  .prosjekt2-container {
    margin-left: 5%;
    width: 42.5%;
  }
}