.asvg {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  border-color: blue;
}

button:hover {
  background-color: green;
  border-color: transparent;
}

.asvg:active {
  opacity: 0.75;
}

/* ASVG */

.asvg-boks {
  display: flex;
  height: 300px;
}

.vgs {
  width: 750px;
}

.om-asvg {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  width: 755px;
  background-color: lightgreen;
}

/* AS */

.as-boks {
  display: flex;
  height: 300px;
}

.om-as {
  width: 750px;
  background: lightgreen;
}

.skram {
  width: 775px;
}

/* LINJENE */

.mer-om-asvg-boks {
  display: block;
  background: lightblue;
}

.mer-om-asvg-overskrift {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 15px;
}

.mer-om-asvg {
  margin-top: 15px;
}

.testthing {
  position: fixed;
  top: 90%;
  left: 90%;
  width: 110px;
  background: linear-gradient(to right, #fcdf03, #fcba03);
  text-align: center;
  height: 50px;
  border: 0px;
  transition: opacity 0.3s ease;
}

.testthing:hover {
  background: linear-gradient(tor right, #fcdf03, #fcba03);
  opacity: 0.7;
}

.dayum {
  position: fixed;
  top: 90%;
  left: 3%;
  width: 110px;
  background: linear-gradient(to right, #fcdf03, #fcba03);
  text-align: center;
  height: 50px;
  border: 0px;
  transition: opacity 0.3s ease;
}

.dayum:hover {
  background: linear-gradient(to right, #fcdf03, #fcba03);
  opacity: 0.7;
}